---

apiVersion: v1
kind: Service
metadata:
  annotations:
    version: {{ sample_version }}
  labels:
    app: owf
  name: owf
  namespace: application-sample
spec:
  ports:
    - name: 8009-tcp
      port: 8009
      protocol: TCP
      targetPort: 8009
  selector:
    app: owf
  sessionAffinity: None
  type: ClusterIP

