---

apiVersion: v1
kind: Service
metadata:
  annotations:
    version: {{ sample_version }}
  labels:
    app: httpd
  name: httpd
  namespace: application-sample
spec:
  ports:
    - name: https
      port: 443
      protocol: TCP
      targetPort: 4433
  selector:
    app: httpd
  sessionAffinity: None
  type: ClusterIP

