---

apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  annotations:
    version: {{ sample_version }}
  labels:
    app: httpd
  name: httpd
  namespace: application-sample
spec:
  replicas: 1
  selector:
    app: httpd
    deploymentconfig: httpd
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 600
  template:
    metadata:
      labels:
        app: httpd
        deploymentconfig: httpd
    spec:
      containers:
        - env:
            - name: key_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: keypassword
            - name: keystore_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: keystorepassword
            - name: new_keystore_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: newkeystorepassword
          envFrom:
            - configMapRef:
                name: sampleproperties
          image: >-
            {{ pull_repository }}/httpd:{{ sample_version }}
          imagePullPolicy: Always
          livenessProbe:
            tcpSocket:
              port: 4433
            initialDelaySeconds: 900
            periodSeconds: 20
            timeoutSeconds: 1
          name: httpd
          readinessProbe:
            failureThreshold: 43
            tcpSocket:
              port: 4433
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 5
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /var/log/httpd/
              name: volume-data
              subPath: httpd/logs
            - mountPath: /etc/httpd/conf.s.d/
              name: volume-httpd
            - mountPath: /opt/applicationsample/certs/server
              name: volume-httpdcerts
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        supplementalGroups: [ 65534 ]
      serviceAccount: sample-sa
      serviceAccountName: sample-sa
      terminationGracePeriodSeconds: 30
      volumes:
        - name: volume-data
          persistentVolumeClaim:
            claimName: data
        - configMap:
            defaultMode: 420
            name: httpd
          name: volume-httpd
        - configMap:
            defaultMode: 420
            items:
              - key: cabundle.crt.tmp
                path: cabundle.crt.tmp
              - key: idp.crt
                path: {{ idp_alias }}.crt
              - key: server_private_key
                path: {{ server_alias }}.key
              - key: server_certificate
                path: {{ server_alias }}.crt
            name: certificates
          name: volume-httpdcerts
