---

apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  annotations:
    version: {{ sample_version }}
  labels:
    app: artifactory
  name: artifactory
  namespace: application-sample
spec:
  replicas: 1
  selector:
    app: artifactory
    deploymentconfig: artifactory
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 600
  template:
    metadata:
      labels:
        app: artifactory
        deploymentconfig: artifactory
    spec:
      containers:
        - env:
            - name: DB_TYPE
              value: postgresql
            - name: DB_HOST
              value: artifactorydb
            - name: DB_USER
              value: storefront
            - name: DB_PORT
              value: '5432'
            - name: EXTRA_JAVA_OPTIONS
              value: '-Xmx1'
            - name: new_truststore_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: newtruststorepassword
            - name: artpass
              valueFrom:
                secretKeyRef:
                  key: password
                  name: artpass
            - name: PARENT_ARTPASS
              valueFrom:
                secretKeyRef:
                  key: password
                  name: parent-artpass
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: dbpass
            - name: new_keystore_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: newkeystorepassword
            - name: key_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: keypassword
            - name: keystore_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: keystorepassword
          envFrom:
            - configMapRef:
                name: sampleproperties
          image: >-
            {{ pull_repository }}/artifactory:{{ sample_version }}
          imagePullPolicy: IfNotPresent
          livenessProbe:
            exec:
              command:
                - /opt/applicationsample/healthcheck.sh
            initialDelaySeconds: 1200
            periodSeconds: 20
            timeoutSeconds: 5
          name: artifactory
          readinessProbe:
            exec:
              command:
                - /opt/applicationsample/healthcheck.sh
            initialDelaySeconds: 60
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 57
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /opt/applicationsample/certs/server
              name: volume-artifactorycerts
            - mountPath: /var/opt/jfrog/artifactory
              name: volume-data
              subPath: artifactory
            - mountPath: /opt/applicationsample/license
              name: volume-artifactory
            - mountPath: /opt/applicationsample/artifactory/tmp
              name: artifactory-tmp
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        supplementalGroups: [ 65534 ]
      serviceAccount: sample-sa
      serviceAccountName: sample-sa
      terminationGracePeriodSeconds: 30
      volumes:
        - name: volume-data
          persistentVolumeClaim:
            claimName: data
        - configMap:
            defaultMode: 420
            name: artifactory
          name: volume-artifactory
        - configMap:
            defaultMode: 420
            items:
              - key: cabundle.crt.tmp
                path: cabundle.crt.tmp
              - key: idp.crt
                path: {{ idp_alias }}.crt
              - key: server_private_key
                path: {{ server_alias }}.key
              - key: server_certificate
                path: {{ server_alias }}.crt
            name: certificates
          name: volume-artifactorycerts
        - emptyDir: {}
          name: artifactory-tmp
