---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data
  namespace: application-sample
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ sample_storage_size }}"
  storageClassName: "{{ sample_storage_class }}"

