---

apiVersion: v1
kind: Service
metadata:
  annotations:
    version: {{ sample_version }}
  labels:
    app: dil-services
  name: dil-services
  namespace: application-sample
spec:
  ports:
    - name: 5555-tcp
      port: 5555
      protocol: TCP
      targetPort: 5555
  selector:
    app: dil-services
  sessionAffinity: None
  type: ClusterIP

