---

apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  annotations:
    version: {{ sample_version }}
  labels:
    app: logstash
  name: logstash
  namespace: application-sample
spec:
  replicas: 1
  selector:
    app: logstash
    deploymentconfig: logstash
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 600
  template:
    metadata:
      labels:
        app: logstash
        deploymentconfig: logstash
    spec:
      containers:
        - env:
            - name: new_truststore_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: newtruststorepassword
            - name: new_keystore_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: newkeystorepassword
            - name: key_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: keypassword
            - name: keystore_password
              valueFrom:
                secretKeyRef:
                  key: password
                  name: keystorepassword
          envFrom:
            - configMapRef:
                name: sampleproperties
          image: >-
            {{  pull_repository }}/logstash:{{ sample_version }}
          imagePullPolicy: Always
          name: logstash
          ports:
            - containerPort: 5044
              protocol: TCP
            - containerPort: 8080
              protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /opt/applicationsample/certs/server
              name: volume-logstashcerts
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        supplementalGroups: [ 65534 ]
      serviceAccount: sample-sa
      serviceAccountName: sample-sa
      terminationGracePeriodSeconds: 30
      volumes:
        - configMap:
            defaultMode: 420
            items:
              - key: cabundle.crt.tmp
                path: cabundle.crt.tmp
              - key: idp.crt
                path: {{ idp_alias }}.crt
              - key: server_private_key
                path: {{ server_alias }}.key
              - key: server_certificate
                path: {{ server_alias }}.crt
            name: certificates
          name: volume-logstashcerts
