---

apiVersion: v1
kind: Secret
metadata:
  annotations:
    version: {{ sample_version }}
  name: service-registry-password
  namespace: application-sample
type: kubernetes.io/basic-auth
stringData:
  password: {{ service_registry_password }}

