---

apiVersion: v1
kind: ConfigMap
metadata:
  name: certificates
  namespace: application-sample
data:
  cabundle.crt.tmp: |
{{ lookup('file', sample_ca_bundle_file)   | indent(4, true) }}
  idp.crt: |
{{ lookup('file', am_certificate_file)      | indent(4, true) }}
  server_private_key: |
{{ lookup('file', sample_privatekey_file)  | indent(4, true) }}
  server_certificate: |
{{ lookup('file', sample_certificate_file) | indent(4, true) }}

