---

apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    version: {{ sample_version }}
  name: aaproperties
  namespace: application-sample
data:
  CLASSIFICATION_BACKGROUND_COLOR: "{{ CLASSIFICATION_BACKGROUND_COLOR }}"
  CLASSIFICATION_FONT_COLOR: "{{ CLASSIFICATION_FONT_COLOR }}"
  CLASSIFICATION_STRING: "{{ CLASSIFICATION_STRING }}"
  DBNAME: "{{ DBNAME }}"
  DBUSER: "{{ DBUSER }}"
  DB_ENCRYPT: "{{ DB_ENCRYPT }}"
  SSL_VERIFY: "{{ SSL_VERIFY }}"
  ARTUSER: "{{ ARTUSER }}"
  PARENT_ARTUSER: "{{ PARENT_ARTUSER }}"
  CA_CERT_DIR: "{{ CA_CERT_DIR }}"
  dbPort: "{{ dbPort }}"
  dbType: "{{ dbType }}"
  dialect: "{{ dialect }}"
  driverClassName: "{{ driverClassName }}"
  INSTALLMANAGERDB_FQDN: "{{ INSTALLMANAGERDB_FQDN }}"
  INSTALL_PATH: "{{ INSTALL_PATH }}"
  DIL_CA_KEY: "{{ DIL_CA_KEY }}"
  DIL_CERT_YEARS: "{{ DIL_CERT_YEARS }}"
  DIL_CA_CERT: "{{ DIL_CA_CERT }}"
  DIL_LOG_LEVEL: "{{ DIL_LOG_LEVEL }}"
  DIL_ISSUER: "{{ DIL_ISSUER }}"
  DIL_PROXY_CONNECTION_TIMEOUT: "{{ DIL_PROXY_CONNECTION_TIMEOUT }}"
  DIL_PROXY_RETRY_TIMER: "{{ DIL_PROXY_RETRY_TIMER }}"
  DIL_PROXY_RETRY_COUNT: "{{ DIL_PROXY_RETRY_COUNT }}"
  keystoreFile: "{{ keystoreFile }}"
  MARKETPLACEDB_FQDN: "{{ MARKETPLACEDB_FQDN }}"
  OWFDB_FQDN: "{{ OWFDB_FQDN }}"
  path_to_private_crt: "{{ path_to_private_crt }}"
  path_to_public_cert: "{{ path_to_public_cert }}"
  path_to_root_crt: "{{ path_to_root_crt }}"
  private_key: "{{ private_key }}"
  server_ca: "{{ server_ca }}"
  server_cert: "{{ server_cert }}"
  SERVER_CERT_DIR: "{{ SERVER_CERT_DIR }}"
  APPLICATION_REPO: "{{ APPLICATION_REPO }}"
  PARENT_APPLICATION_REPO: "{{ PARENT_APPLICATION_REPO }}"
  IMAGE_REPO: "{{ IMAGE_REPO }}"
  PARENT_IMAGE_REPO: "{{ PARENT_IMAGE_REPO }}"
  HISTORY_REPO: "{{ HISTORY_REPO }}"
  IM_DOWNLOAD_TIMEOUT: "{{ IM_DOWNLOAD_TIMEOUT }}"
  IM_DOWNLOAD_THREADS: "{{ IM_DOWNLOAD_THREADS }}"
  OWF_PATH: "{{ OWF_PATH }}"
  WIDGET_DEF_DIR: "{{ WIDGET_DEF_DIR }}"
  MARKETPLACE_PATH: "{{ MARKETPLACE_PATH }}"
  MARKETPLACE_DEF_DIR: "{{ MARKETPLACE_DEF_DIR }}"
  IM_LOG_DIR: "{{ IM_LOG_DIR }}"
  IM_LOG_LEVEL: "{{ IM_LOG_LEVEL }}"
  syslog_enabled: "{{ syslog_enabled }}"
  syslog_remote_server_hostname: "{{ syslog_remote_server_hostname }}"
  syslog_remote_server_port: "{{ syslog_remote_server_port }}"
  trustStoreFile: "{{ trustStoreFile }}"
  openam_org_dn: "{{ openam_org_dn }}"
  PROXY_HOST: "{{ PROXY_HOST }}"
  cookie: "{{ cookie }}"
  defaultTheme: "{{ defaultTheme }}"
  environmentLevel: "{{ environmentLevel }}"
  environmentName: "{{ environmentName }}"
  idp_alias: "{{ idp_alias }}"
  parent_sample_fqdn: "{{ parent_sample_fqdn }}"
  parent_sample_ip: "{{ parent_sample_ip }}"
  server_alias: "{{ server_alias }}"
  sp_alias: "{{ sp_alias }}"
  sso_fqdn: "{{ sso_fqdn }}"
  sso_ip: "{{ sso_ip }}"
  root_realm: "{{ root_realm }}"
  idp_name: "{{ idp_name }}"
  sample_fqdn: "{{ sample_fqdn }}"
  pull_repository: "{{ pull_repository }}"
  storename: "{{ storename }}"
  themename: "{{ themename }}"
  type: "{{ type }}"
  zone: "{{ zone }}"
  SITE_NAME: "{{ SITE_NAME }}"
  VOLUME_RETENTION_POLICY: "{{ VOLUME_RETENTION_POLICY }}"
  DISTRIBUTIONFILTERDB_FQDN: "{{ DISTRIBUTIONFILTERDB_FQDN }}"
  SERVICE_REGISTRY: "{{ SERVICE_REGISTRY }}"
  SERVICE_REGISTRY_URL: "{{ SERVICE_REGISTRY_URL }}"
  SERVICE_REGISTRY_USERNAME: "{{ SERVICE_REGISTRY_USERNAME }}"
  ELASTICSEARCH_USERNAME: "{{ ELASTICSEARCH_USERNAME }}"
  ELASTICSEARCH_PASSWORD: "{{ ELASTICSEARCH_PASSWORD }}"
  ELASTIC_PASSWORD: "{{ ELASTIC_PASSWORD }}"
  LOGSTASH_BEATS_PORT: "{{ LOGSTASH_BEATS_PORT }}"
  LOGSTASH_HTTP_PORT: "{{ LOGSTASH_HTTP_PORT }}"
  LOGSTASH_HEARTBEAT_INTERVAL: "{{ LOGSTASH_HEARTBEAT_INTERVAL }}"
  LOGSTASH_HOST: "{{ LOGSTASH_HOST }}"
  pollingEnabled: "{{ polling_enabled }}"
  openShiftPaths: "{{ openshift_paths }}"
  sample_OPENSHIFT_PROJECT: "{{ sample_OPENSHIFT_PROJECT }}"
  GLUSTERFS: "{{ GLUSTERFS }}"
  vst_fqdn: "{{ vst_fqdn }}"

