---

apiVersion: v1
kind: Secret
metadata:
  annotations:
    version: {{ sample_version }}
  name: {{ item.name }}
  namespace: application-sample
type: kubernetes.io/basic-auth
stringData:
  password: {{ item.source }}

