---

apiVersion: v1
kind: Secret
metadata:
  name: registry-credentials
  namespace: application-sample
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ lookup('template', docker_config_snippet) | to_json | b64encode }}" 

